header {
    background-color: #6aa3b4;
}
.cuenta {
    display: flex;
    align-items: center;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 170px;
}

.box__footer .logo img{
    width: 100px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #000000;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

.box__footer a{
    margin-top: 10px;
    color: #000000;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
}

.box__footer a:hover{
    opacity: 0.8;
}
.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.box__copyright p{
    margin-top: 20px;
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
}

.iconoinsta {
    width: 54px;
    height: 54px;
}
.iconowp {
    width: 54px;
    height: 54px;
    margin-top: 10px;
}

.img1 {
    width: 1500px;
    height: 400px;
}

.img2 {
    width: 1500px;
    height: 400px;
}

.img3 {
    width: 1500px;
    height: 400px;
}

.tit1 {
    margin-top: 80px;
    margin-bottom: 80px;
    
}
.h1 {
    background-color: #6aa3b4;
}
.vid1 {
    margin-top: 120px;
    margin-bottom: 120px;
}