* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
    height: .65rem; 
    width: .62rem;
    border-radius: .5rem;
    --tw-bg-opacity: 1;
    background-color: #8c8c88;
}
body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #595956;
}
body::-webkit-scrollbar-track {
    border-radius: .5rem;
   
}
/* General */
@font-face {
  font-family: 'Geometos';
  src: url(../fuente/Geometos.ttf);
  font-weight: bold;
  font-style: bold;
  font-size: 40px;
  
}

header {
  background-color: #6aa3b4;
}
.arti1 {
  background-color: rgb(84, 160, 211);
}
.cuenta {
  display: flex;
  align-items: center;
}

/* navbar */

.navbar {
  background-color: grey;
  margin-bottom: 30px;
  /* dejamos al navbar asi o si le ponemos efecto sacamos el height */
  height: 85px; 
}
.navbar .navbar-nav .nav-link {
  position: relative;
}
.navbar .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #ffc300;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}
.navbar-nav .nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar .container-fluid .navbar-collapse {
  flex-grow: 0;
  background-color: grey;
}

.navbar .container-fluid .navbar-collapse .navbar-nav{
  float: right;
}
.logo {
filter: brightness(1.1);
mix-blend-mode: multiply;
 transition: 0.9s all;
cursor: pointer;
}
/* HAY QUE VER BIEN EL EFECTO DESPUES */
 .logo:hover{
  transition: 0.9s all;
  transform: scale(1.1);
  
} 
/* Footer */
.container__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 70px;
  overflow-x: hidden;
  margin: auto;
}

.box__footer .logo img {
  width: 100px;
  justify-content: center;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.box__footer h2 {
  margin-bottom: 30px;
  color: #000000;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.box__footer a {
  margin-top: 10px;
  color: #000000;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.box__footer a:hover {
  opacity: 0.8;
}
.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
  font-family: "Roboto", sans-serif;
}

.box__copyright p {
  margin-top: 20px;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: #000000;
  font-family: "Roboto", sans-serif;
}
/* Imagenes y videos */
.iconoinsta {
  width: 54px;
  height: 54px;
}
.iconowp {
  width: 54px;
  height: 54px;
  margin-top: 10px;
}

.img1 {
  width: 1400px;
  height: 400px;
}

.img2 {
  width:  1400px;
  height: 400px;
}

.img3 {
  width:  1400px;
  height: 400px;
}
/* Video index */
.video {
  width: 90%;
  margin: 0;
   margin-top: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}
.video .containerVideo iframe {
  width: 90%;
  height: 400px;
  margin: 30px
}
/* Titulos, parrafos */

.tit1 {
  display: flex;
  margin-top: 85px;
  margin-bottom: 0px;
  font-family: "geometos";
  font-size: 40px;
 
}
.tit1 .titulo1 {
  display: flex;
  background-color: #6aa3b4;
  justify-content: left;
  margin-top: 50px;
  
}

.tit2{
   display: flex;
  margin-top: 0px;
  margin-bottom: 80px;
  font-size: 40px;
 font-family: "Roboto", sans-serif;
}
.tit2 .titulo2{
  display: flex;
  background-color: #6aa3b4;
  margin-top: 10px;
}
.parrafos {
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: "Roboto", sans-serif;
}

/* Proyectos */

.tituloProducto {
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
  font-family: "geometos";
}
.tarjeta {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tarjeta .card {
  margin-top: 80px;
  width: 80%;
  max-width: 300px;
  height: auto;
  padding: 0.8em;
  background: #f9f9f9;
  position: relative;
  overflow: visible;
  box-shadow: 0 70px 70px rgba(0, 0, 0, 0.4);
  transition: 0.5s all;
}
.tarjeta .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transition: 0.5s all;
  transform: translateY(-3%);
}
.tarjeta .card .card-img {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}
.tarjeta .card .card-img img {
  width: 100%;
  height: 100%;
}
.tarjeta .card .card-info {
  padding-top: 10%;
}
.tarjeta .card .card-info .text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
}
.tarjeta .card .card-info .text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
  height: 100px;
  word-wrap: break-word;
  margin-bottom: 40px;
}
.tarjeta .card .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
.tarjeta .card .card-footer .text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}
.tarjeta .card .card-footer .card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}
.tarjeta .card .card-footer .card-button svg {
  width: 20px;
  height: 20px;
}
.tarjeta .card .card-footer .card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

/* Somos */
.contenedor {
  width: 100%;
  height: 900px;
  margin: auto;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 500px;
}
.contenedor .tabla {
  display: inherit;
  flex-direction: column;
  width: 470px;
  height: 590px;
  margin: 50px;
  border: 1px solid #343759;
   transition: 0.5s all;
  border-radius: 4px;
  box-shadow:  25px 25px 10px rgb(0 0 0 /20%);
  padding: 60px;
  text-align: center;
  color: #000000;
  background-color: #ffc300;
}
.contenedor .tabla h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 15px;
}
.contenedor .tabla p {
  font-family: "Roboto", sans-serif;
  display: block;
  margin-bottom: 25px;
}
.contenedor .tabla img {
  width: 240px;
  margin-bottom: 35px;
  margin: auto;
}
.contenedor .tabla .boton {
  width: 150px;
  padding: 12px;
  background: #d7fcd4;
  text-decoration: none;
  color: #343759;
  border-radius: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: auto;
  font-family: "Roboto", sans-serif;
}
.contenedor .tabla:hover {
  background: #ffffff;
  color: #000000;
  box-shadow: 25px 25px 20px rgba(0, 0, 0, 0.4);
  transition: 0.5s all;
  transform: scale(1.1);
  cursor: pointer;
}

/* Tabla Programas */
.textoProgramas {
  display: flex;
  justify-content: center;
  margin-top: 110px;
  margin-bottom: 110px;
  color: #000000;
}

.containerBox {
  max-width: 1000px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.containerBox .boxCard {
  width: 218px;
  height: 200px;
  background: #fff;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
}
.containerBox .boxCard:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.5);
  background: #ffc300;
  z-index: 1;
}
.containerBox .boxCard .icono1 {
  width: 32px;
}
.containerBox .boxCard h5 {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: #000000;
}
.containerBox .boxCard h5hover {
  font-size: 14px;
  transition: all 600ms ease;
}

/* Formulario contacto*/
.formularioContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 60px;
}
.formularioContacto .formulario {
  background-color: white;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  padding: 30px 40px;
  box-shadow: 0 70px 70px 40px rgba(0, 0, 0, 0.2);
  font-size: 10px;
}
.formularioContacto .formulario .title {
  font-size: 2em;
  margin-bottom: 50px;
  font-family: "geometos";
}
.formularioContacto .formulario .inputContainer {
  position: relative;
  width: 90%;
  height: 45px;
  margin-bottom: 45px;
}
.formularioContacto .formulario .inputContainer .input {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 1px solid #dadce0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

.formularioContacto .formulario .inputContainer.error .input .i {
  visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.inputContainer.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}
.formularioContacto .formulario .inputContainer .input::placeholder {
  color: transparent;
}
.formularioContacto .formulario .inputContainer .input:focus + .label {
  top: -8px;
  left: 3px;
  z-index: 10;
  font-weight: 20px;
  font-size: 14px;
  color: purple;
}
.formularioContacto .formulario .inputContainer .input:focus {
  margin-bottom: 20px;
  border: 2px solid purple;
}
.formularioContacto
  .formulario
  .inputContainer
  .input:not(:placeholder-shown)
  + .label {
  top: -8px;
  left: 3px;
  z-index: 10;
  font-weight: 20px;
  font-size: 14px;
}
.formularioContacto .formulario .inputContainer .label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #9867c5;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}
.formularioContacto .formulario .submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}
.formularioContacto .formulario .submitBtn:hover {
  background-color: #9867c5;
  transform: translateY(-2px);
}
/* mensaje de error validacion contacto */
.inputContainer.error input {
  border-color: #e74c3c;
}
.inputContainer small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 60px;
  font-size: 12px;
  visibility: hidden;
}

.inputContainer.error small {
  visibility: visible;
}

/* Contador index */
.sectionClass {
  padding: 20px 0px 50px 0px;
  position: relative;
  display: block;
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}

.sectiontitle {
  background-position: center;
  margin: 30px 0 0px;
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background: #101f2e;
}

.projectFactsWrap {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.8);
}

#projectFacts .fullWidth {
  padding: 0;
}

.projectFactsWrap .item {
  width: 25%;
  padding: 50px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.projectFactsWrap .item:nth-child(1) {
  background: rgb(16, 31, 46);
}

.projectFactsWrap .item:nth-child(2) {
  background: rgb(18, 34, 51);
}

.projectFactsWrap .item:nth-child(3) {
  background: rgb(21, 38, 56);
}

.projectFactsWrap .item:nth-child(4) {
  background: rgb(23, 44, 66);
}

.projectFactsWrap .item .contenedorbarra {
  display: flex;
  justify-content: center;
}
.projectFactsWrap .item .suma {
  font-size: 40px;
}
.projectFactsWrap .item p.number {
  font-size: 40px;
  padding: 0;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.projectFactsWrap .item p.titeje {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: "Signika Negative", sans-serif;
}

.projectFactsWrap .item span {
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}

.projectFactsWrap .item i {
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 15px; 
}

.projectFactsWrap .item:hover i,
.projectFactsWrap .item:hover p {
  color: white;
}

.projectFactsWrap .item:hover span {
  background: white;
}

@media (max-width: 786px) {
  .projectFactsWrap .item {
    flex: 0 0 50%;
  }
}
